name: test

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Make scripts executable
        run: chmod +x pref2region test/test.sh

      - name: Run tests
        run: cd test && ./test.sh
